:root {
    --simple-color:#d4d9dd;
    --dark-color: #1b2125;
    --light-dark-color: #7e8e99;
    --primary-color: #0077e2;
    --invalid-color: rgb(221, 50, 7);
  }
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 28px auto;
    display: flex;
    flex-direction: column;
    padding: 1.75rem;

}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form-navigator{
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 3rem;

}

.label{
    display: flex;
    width: calc(50% - 7px);
    font-size: 12px;
    flex-direction: column;
    color: var(--simple-color);

}

.label-long{
    width: 100%;
}

.input{
    margin-top: .5em;
    margin-bottom: 1em;
    border-radius: 0;
    border: 1px solid var(--simple-color);
    padding: 1em;
}

.input-phone{
    color: var(--light-dark-color)
}
.input-phone-valid{
    color: var(--dark-color);
}


.input:focus{
    outline: none;
    border-color: var(--primary-color);
}

.input-select{
    appearance: none;
}

.input-select:invalid { 
    color: var(--light-dark-color); 
}

.input-invalid{
    color: var(--invalid-color);
    border-color: var(--invalid-color);
}
.input-invalid:focus{
    border-color: var(--invalid-color);
}

.navigator-item{
    flex-grow: 1;
    text-align: center;
    padding: 1.5rem 1.5rem 3rem ;
    color: var(--simple-color);
    border-bottom: 2px solid var(--simple-color);
    transition: color .3s ease;

}
.navigator-item__active{
    color: var(--dark-color);
    border-color: var(--dark-color);

}

.label[for='code']{
    flex-direction: row;    
    flex-wrap: wrap;
}

.code-input{
    flex-grow: 1;
    margin-right: -1px;
}
.code-text{
    width: 100%;
}

.code-button{
    background: transparent;
    color: var(--primary-color);
}

.button-primary{
    border-radius: 0;
    border: 1px solid var(--simple-color);
    padding: 1em 2em;
    color: #fff;
    background-color: var(--primary-color);
    margin-top: 2rem;

}
.button-primary:disabled {
    color: var(--dark-color);
    background-color: var(--light-dark-color);
}

.button-simple{
    border: 0;
    color: var(--light-dark-color);
    background-color: transparent;
    margin-top: 2rem;

}

.form-title{
    width: 100%;
    font-size:1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.mapBlock{
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display_none{
    display: none;
}

.display_flex{
    display: flex;
}

.map-wrapper{
    width: 100%;
}

.shipping-info {
    display: flex;
    width: 100%;
    border: 1px solid var(--simple-color);
}

.shipping-adress {
    width: 50%;
    border-right: 1px solid var(--simple-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.shipping-adress-buttons {
    margin-top: .8rem;
}

.adress-text {
    display: inline-block;
    margin-bottom: .8rem;
    color: var(--light-dark-color);    
}

.adress-button{
    margin-right: 1rem;
    background: transparent;
    border: none;
    padding: 0;
    color: var(--primary-color);
}

.map-wrapper{
    width: 50%;
}

.shipping-method{
    display:flex;
}

.shipping-method-item {
    display: inline-flex;
    position: relative;
    width: calc(50% - 8px);
    border: 1px solid var(--simple-color);
    padding: 2rem 1rem 2rem 3rem;
    flex-wrap: wrap;
}

.shipping-method-item:first-child{
    margin-right: 16px;
}

.shipping-method-text:nth-child(3){
    margin-left: auto;
}

.shipping-method-text:nth-child(4){
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    color: var(--light-dark-color);
}

.shipping-method-input{
    position: absolute;
    left: 1rem;
    top: 2rem;
}

.gm-svpc, .gm-style-mtc, .gm-fullscreen-control{
    display: none;
}

@media screen and (max-width: 768px){
    .label {
        width: 100%;
    }

    .form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .button-simple {
        order: 1;
        margin: auto;
    }
    .button-primary{
        margin: 2rem 0;
        width: 100%;
    }

    .navigator-item {
        display: none;
    }
    .navigator-item__active{
        display: block;
    }
    .container {
        padding: 12px;
    }
    .shipping-info {
        flex-direction: column;
    }
    .shipping-adress{
        width: 100%;
    }
    .map-wrapper{
        width: 100%;
    }
    .shipping-method {
        flex-direction: column;
    }
    .shipping-method-item {
        width: 100%;
    }
    .shipping-method-item:first-child{
        margin: 0 0 1rem 0;
    }
}
